<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @user.skill %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @user.desc %>
</p>

<p>
  <strong>Corp:</strong>
  <%= @user.corp %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
