<div class="well">
  <h2 style="margin-bottom: 20px;">重置密码</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
  
    <div class="form-group">
      <%= f.label :password, '密码', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.password_field :password, required: true,  class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, '确认密码', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.password_field :password_confirmation, required: true,  class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 col-lg-offset-2">
        <%= f.submit '确认提交', class: 'btn btn-primary'  %>
      </div>
    </div>
  <% end %>
  <!--
    <div class="col-lg-offset-2">
      <%#= render "devise/shared/links" %>
    </div>
  -->
</div>