<div class="well">
  <h2 style="margin-bottom: 20px;">重置密码</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :email, 'Email', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.email_field :email, required: true,  class: 'form-control' %>
      </div>
      <div class="col-lg-2">
        <%= f.submit '确认提交', class: 'btn btn-primary'  %>
      </div>
    </div>
  <% end %>
  <!--
    <div class="col-lg-offset-2">
      <%#= render "devise/shared/links" %>
    </div>
  -->
</div>
