<div id="registration-user-avatar">
  <div class="actions">
    <div class="avatar_section">
      <%= image_tag "#{random_avatar}?imageView2/1/w/100/h/100", class: 'avatar-pic' %>
    </div>
    <div id="avatar_upload_button" class='btn btn-primary'>上传头像
    </div>
    <div class="loading-avatar">
      <%= render 'layouts/loading' %>
    </div>
  </div>
  <p class='note'>默认头像真的好丑，请相信我</p>
</div>
<%= form_for(@registration, url: weixin_registrations_path, remote: true, html: { class: "form-horizontal" }) do |f| %>
    <fieldset>
      <%= hidden_field_tag open_id: params[:open_id] %>
      <div class="form-group">
        <%= f.label :name, '用户名', class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.text_field :name, required: true,  class: 'form-control', autofocus: true  %>
        </div>
      </div>
      <%= f.hidden_field :avatar, value: random_avatar %>
      <div class="form-group">
        <%= f.label :email, 'Email', class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.email_field :email, required: true,  class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, '密码', class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.password_field :password, required: true, placeholder: '最少六个字符',  class: 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, '确认密码', class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.password_field :password_confirmation, required: true,  class: 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2 control-label">邀请码</div>
        <div class="col-lg-10">
          <%= text_field_tag :invitation_code, nil, required: true,  class: 'form-control' %>
        </div>
      </div>
      <p class='invitation_code_error'>* 您输入的激活码错误</p>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit '确认提交', class: 'btn btn-primary'  %>
        </div>
      </div>
    </fieldset>
  <% end %>