<%= form_for @user, method: :put, remote: true,  html: { class: "form-horizontal" } do |f| %>
  <%= hidden_field_tag :type, 'contact'  %>
  <div class="form-group">
    <%= f.label :phone_number, '手机号码', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number,  class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weixin_number, '微信号', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :weixin_number,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :qq_number, 'QQ号码', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :qq_number,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit '保存', class: 'btn btn-primary'  %>
    </div>
  </div>
<% end %>