<p class="explain">只有对方通过了你的邀请或者你同意了别人的邀请时， 你才会和对方交换联系方式。 为了更方便朋友联系你，请再多填写几个联系方式吧</p>
<%= form_for @registration, url: update_user_registration_path, method: :put,  html: { class: "form-horizontal" } do |f| %>
  <%= hidden_field_tag :user_id, @registration.id %>
  <div class="form-group">
    <%= f.label :phone_number, '手机号码', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number,  class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weixin_number, '微信号', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :weixin_number,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :qq_number, 'QQ号码', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :qq_number,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit '确认提交', class: 'btn btn-primary'  %>
    </div>
  </div>
<% end %>