<div class="tiny-comment">
  <div class="creator row">
    <div class="col-xs-1"><%= image_tag tiny_comment.user.pic('36') %></div>
    <div class="col-xs-11">
      <b><%= tiny_comment.user.name %></b>
      <span>发表于 1分钟之前</span>
    </div>
  </div>
  <div class="row tiny-comment-section">
    <div class="col-xs-1 up-comment">
      <%= link_to up_topic_comment_path(tiny_comment), remote: true, method: :put do %>
        <i class="mdi-action-thumb-up"></i>
        <span class="up_count"><%= tiny_comment.up_count %></span> 
      <% end %>
    </div>
    <div class="col-xs-11 tiny-comment-content"><%= tiny_comment.content %></div>
  </div>
</div>