<div class="top_comment" id="comment-#<%= top_comment.id %>">
  <div class="creator row">
    <div class="col-xs-1"><%= image_tag top_comment.user.pic('36') %></div>
    <div class="col-xs-11 time">
      <b>@<%= top_comment.user.name %></b>
      <span>发表于 <%= timeago(top_comment.created_at) %></span>
    </div>
  </div>
  <div class="content row">
    <div class="col-xs-1 up-comment" id="comment-<%= top_comment.id %>-up-comment">
      <%= link_to up_topic_comment_path(top_comment), remote: true, method: :put, class: "#{voted_comment(top_comment)}" do %>
        <i class="mdi-action-thumb-up"></i>
        <span class="up_count"><%= top_comment.up_count %></span>
      <% end %>
    </div>
    <div class="col-xs-11 top-comment-content"><%= top_comment.content %></div>
  </div>
  <% if user_signed_in? %>
    <div class="reply">
      <%= link_to '- 回复', new_topic_comment_path(topic_id: @topic.id, parent_id: top_comment.id), remote: true %>
    </div>
  <% end %>
  <div class="tiny-comment-list" id="comment-<%= top_comment.id %>-tiny-comment-list">
    <% @topic.topic_comments.tiny_level.where(parent_id: top_comment.id).each do |tiny_comment| %>
      <%= render 'topic_comments/tiny_comment', tiny_comment: tiny_comment %>
    <% end %>
  </div>
</div>