<!DOCTYPE html>
<html>
<head>
  <title>光谷 ＋ 创新</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="IIoWoi-yl7LmIqNyCX6qHrVzekBawPk9i5yBWo2oeG8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
